# Environment
ENVIRONMENT=development # development, testing, production

# Database (SQLite for Dev, PostgreSQL for Prod)
DATABASE_URL=sqlite:///./foresightai.db
# DATABASE_URL=postgresql://user:password@localhost:5432/foresightai

# Security
SECRET_KEY=super-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# MLflow
MLFLOW_TRACKING_URI=sqlite:///./mlruns.db
